@page "/details/{name}"
@inject NavigationManager NavManager
@inject MonkeyService monkeyService

<div>
    <div class="detailscard-header">
        <button class="detailsback-button" @onclick="CloseWindow">&#8592;</button>
        <h1 class="detailstitle">@monkey.Name</h1>
    </div>
    <div class="detailscard-image">
        <img src="@monkey.Image">
        <h2 class="detailsimage-title">@monkey.Name</h2>
    </div>
    <div class="detailscard-body">
        <button class="detailsbutton-yellow">Show on Map</button>
        <button class="detailsbutton-yellow" @onclick="AddRating">Rate This Monkey!</button>
        <p class="detailsdescription">@monkey.Details</p>
        <p class="detailslocation"><strong>Location:</strong> @monkey.Location</p>
        <p class="detailspopulation"><strong>Population:</strong> @monkey.Population</p>
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; } = string.Empty;
    Monkey monkey { get; set; } = new();

    protected override void OnInitialized()
    {
        monkey = monkeyService.FindMonkeyByName(Name);
    }

    private void CloseWindow()
    {
        NavManager.NavigateTo("/");
    }

    private void AddRating()
    {
        ((Application)app).Windows[0].Page!.Navigation.PushAsync(new MonkeyRatingPage());
    }
}
